<header class="im_side">

<div class="row gx-0 justify-content-center">
    <div class="col-lg-6"><br> <br> <img src="{{include.text}}" width="{{include.width}}" height = "{{include.height}}"></div>
    <div class="col-lg-6 order-lg-first">
        <div class="h-100 project">
            <div class="project-text w-100 my-auto text-left text-lg-right">
                <p> {% capture p %}{{ include.content }}{% endcapture %}{{ p | markdownify }}</p>
            </div>
        </div>
    </div>
</div>

</header>
